#id1{
    text-align: left;
    font-size: 18px;
    color: rgb(152, 187, 199);
}
.center{
    text-align: center;
}

#dataInput {
    text-align:center;

}
 h1 {
     text-align: center;
     text-shadow: 1px 1px rgb(98, 109, 109);
 }
