@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
/* import { library } from '@fortawesome/fontawesome-svg-core';
import { fas } from '@fortawesome/free-solid-svg-icons';
library.add(fas); */


#id1{
    text-align: left;
    font-size: 18px;
    color: rgb(152, 187, 199);
}
.center{
    text-align: center;
}

#dataInput {
    text-align:center;
    font-family: 'Pacifico';
    border: 1px solid rgb(1, 2, 12);
}

h1 {
     text-align: center;
     text-shadow: 1px 1px rgb(98, 109, 109);
}

#out{
    font-family: 'Pacifico';
}
